



h3 {
    text-align:center;
}



.titleQuote {
    display:block;
    background-image: url("../assets/images/bridge(darkened).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:80%;
    width:100%;
   
}

.header-quote-txt {
    vertical-align:middle;
    text-align: center;
    font-size: 45px;
    color:white;
    padding-top: 15%;
}

.header-quote-by {
    text-align: right;
    margin-top:0;
    padding-right: 10%;
   font-size: 16px;
    color:white;
}

.content-box {
    
    display: block;
    height:45%;
    max-width: 80%;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom:2%;
    animation-name:fadeInUp;
}

.content-box a {
    color:inherit;
    text-decoration: none;
}



.content-box div img{
    height:100%;
    width:100%;

}

.box-grid-right{
    transition:2s;
    display:grid;
    grid-column-gap: 2%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50px 200px;
}

.box-grid-left {
    display:grid;
    grid-column-gap:2%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px 200px;
    
}


.f-boxr-1 {
    color:grey;
    margin-top:10%;
    z-index: 99;
    transition: 2s;
    font-size: 32px;
    grid-column:1/2;
    grid-row:1/3;
}

.f-boxr-1 a:hover {
    transition: color 0.3s ease-in;
    color:black;
}

.f-boxr-2 {
    grid-column: 2/3;
    grid-row:1/3;
}
.f-boxr-3 {
    opacity:0;
    margin-top:2%;
    transition: opacity 2s;
    margin-top:2%;
    text-align: justify;
    grid-column: 1/2;
    grid-row:2/3;
}


.f-boxl-1 {
    grid-column:1/2;
    grid-row:1/3;
}

.f-boxl-2 {
    color:grey;
    margin-top: 10%;
    z-index: 99;
    transition: 2s;
    font-size: 32px;
    grid-column:2/3;
    grid-row:1/2;
}

.f-boxl-2 a:hover {
    transition: color 0.3s ease-in;
    color:black;
}

.f-boxl-3 {
    margin-top:2%;
    opacity:0;
    transition: opacity 2s; 
    text-align:justify;
    grid-column:2/3;
    grid-row:2/3;
}

.quote {
    font-family: 'Montserrat Regular',serif;
    font-style: oblique;
}


.box-quote-r {
    margin-top:2%;
    margin-left:5%;
    background:none;
}

.box-quote-by-r {
    font-style: italic;
    text-align: right; 
    margin-right:22%;
}

