h4 {
    text-align: center;
}

main {
    min-height: 750px;
}
.items {
    display: block;
    list-style-type: none;
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
    clear: right;
}

.items img {
    height: 300px;
    width: 300px;
}

.container {
    display: inline-block;
    border-style: solid;
    border-color: black;
    width: 300px;
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-bottom: 50px;
    /* overflow: hidden; */
}

.container a {
    text-decoration: none;
    overflow: hidden;
}

.container p {
    margin: 0;
}

.details{
    background: black;
    color: white; 
    text-align: center;
    width: 300px;
}

.price {
    background: black;
    color: white;
    text-align: center;
    display: none;
}

.dropbutton {
    background-color: darkgrey;
    color: white;
    width: 100px;
    margin-left: 30px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbutton:hover, .dropbutton:focus {
    background-color: grey;
}

.filterContainer {
    display: block;
    width: 450px;
    background-color: rgb(238, 202, 113);
    border-style: 1px solid black;
}

#myInput {
    box-sizing: border-box;
    background-image: url("../assets/images/search.png");
    background-position: 14px 12px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border-style: outset;
    width: 250px;
    text-align: center;
}
  
#myInput:focus {
    outline: 3px solid white;
}
  
.dropdownbutton {
    position: relative;
    display: inline-block;
    margin-left: 40px; 
}
  
.dropdowncontent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 230px;
    overflow: auto;
    border: 1px solid white;
    z-index: 1;
    text-align: center;
    border: solid;
}
  
/* .dropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
} */
  
/* .dropdownbutton a:hover {
    background-color: blue;
} */

#myUL .container:hover {
    border: 3px solid goldenrod;
}
  
.show {
    display: inline-block;
}

.btn {
    border: none;
    padding: 12px 10px;
    background-color: white;
    cursor: pointer;
    border-style: outset;
}

.btn:hover {
    background-color: grey;
}

.btn.active {
    background-color: black;
    color: white;
}