main{
    min-height: 50%;
}

.details{
    padding-left: 10%;
    height: 100%;
}

#price{
    padding-left: 8%;
}

.subtotal{
    padding-left: 75%;
}

div.item-container{
    display: grid;
    grid-template-columns: 200px 700px 250px;
    grid-template-rows: 55px 45px 45px 50px;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
}

div.item-container p{
    margin: 0;
}

div.item-container p:not(:first-of-type){
    margin-top: -1%;
}

div.item-container p:nth-of-type(1){
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 5%;
}

div.item-container p:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 5%;
}

div.item-container p:nth-of-type(3){
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 5%;
}

div.item-container p:nth-of-type(4){
    grid-column: 2/3;
    grid-row: 4/5;
    margin-left: 5%;
}

div.item-container p:nth-of-type(5){
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: end;
    align-self: center;
}

div.item-container p:nth-of-type(6){
    grid-column: 3/4;
    grid-row: 4/5;
    justify-self: end;
}

div.item-container img:first-of-type{
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/5;
}

input[type=text]{
    border: none;
    font-size: 20px;
    outline-width: 0;
}

input[type=number]{
    font-size: 18px;
    outline-width: 0;
}

input[type=reset]{
    border: none;
    border-radius: 20px;
    height: 35px;
    padding: 10px;
    background-color: rgb(226, 226, 226); 
    outline: none;
    margin-left: 830px;
    margin-bottom: 30px;
}

input[type=reset]:hover {
    color: white;
    background-color: black;
    transition: 0.3s;
}