.container {
    background-image: linear-gradient(to bottom, rgba(220,220,220,0),rgba(220,220,220,0), rgba(220,220,220,1));
    background-size: cover;
} 

h1 {
    text-align: center;
    vertical-align: middle;
    font-weight: bold; 
}

.caption {
    font-family: 'Montserrat Regular';
    font-weight: normal;
    font-variant: small-caps;
    text-align: center;
    font-size: 1.5em;
}

#contact {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
} 

#type {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: 'cera regular';
    cursor: pointer;
}

#type option:first-child{
    display: none;
}

#subject {
    vertical-align: top;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

span {
    color: red;
}

#contact input[type=text], #contact input[type=email]{
    padding: 8px;
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#contact input[type=text]:focus, #contact input[type=email]:focus, #subject:focus, #type:focus{
    border: 3px solid #555;
}

input[type=submit] {
    margin-left: 800px;
}

input[type=submit], input[type=reset] {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: black;
}
  
input[type=submit]:hover, input[type=reset]:hover{
    color: black;
    background-color: white;
    transition: 0.3s;
}