h4 {
    text-align: center;
}

.delivery-details {
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(220,220,220,0),rgba(220,220,220,0), rgba(220,220,220,1));
}

.heading-name-details {
    display: block;
    margin-right: 430px;   
}

.delivery-details input, button {
    height: 35px;
    padding: 10px;
    font-size: 0.8em;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
}

.delivery-details input:focus {
    background-color: rgb(239, 251, 255);
}

#fname, #lname, #state, #pcode, #country, #tel {
    width: 250px;  
}

#address1, #address2, #city {
    width: 505px;
}

#button {
    margin-left: 315px;
}

#confirm, #reset {
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
}

#confirm:hover, #reset:hover {
    background-color: white;
    transition: 0.3s;
    color: black;
}