@keyframes fadeEffect {
    from {opacity:0;}
    to {opacity:1;}
}

.titleQuote {
    display:block;
    background-image: url("../assets/images/dsg_bg(darkened).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:80%;
    width:100%;
   
}

.header-quote-txt {
    vertical-align:middle;
    text-align: center;
    font-size: 45px;
    color:white;
    padding-top: 15%;
}

.header-quote-by {
    text-align: right;
    margin-top:0;
    margin-right: 10%;
    padding-right: 10%;
   font-size: 16px;
    color:white;
}

.quote {
    font-family: 'Montserrat Regular',sans-serif;
    font-style: oblique;
}

.designers-section {
    display:block;
    vertical-align: top;
    overflow:hidden;
    width:100%;
    height:100vh;
}

.descrp-container {
    display:inline-block;
    float: left;
    width:20%;
    background-color: black;
    height:100%;
    transition: 2s;
    position: relative;
}

.descrp-container > h2 {
    color:rgb(255,255,255);
}
.nh {
    color:rgb(255,215,0);
    background-color:transparent;
    background-image:url("../assets/images/ym3_blur.jpg");
    background-repeat: no-repeat;
    background-position:right;
    background-size: cover;
    animation: fadeEffect 2s;
}
.yc {
     color:rgb(255,215,0);
    background-color:transparent;
    background-image: url("../assets/images/yc2_blur.jpg");
    animation: fadeEffect 2s;
     background-repeat: no-repeat;
    background-position:right;
    background-size: cover;
}
.yy {
    color:rgb(255,215,0);
    background-color:transparent;
    background-image:url("../assets/images/yy_blur.jpg");
    background-repeat: no-repeat;
    background-position:right;
    background-size: cover;
    animation: fadeEffect 2s;
}
.sy {
    color:rgb(255,215,0);
    background-color:transparent;
    background-image: url("../assets/images/sy2_blur.jpg");
    animation: fadeEffect 2s;
}

.descrp-container h2 {
    height:auto;
    transition:0.8s;
    margin-left: 10%;
    margin-top:5%;
}

.defaultMsg {
    visibility:visible;
    transition:0.5s;
}

.defaultMsg-hide {
    visibility:hidden;
    transition:0.5s;
}

.descriptions {
    transition: 0.8s;
    display:none;
    animation: fadeEffect 1s;
}

.descriptions img {
    float:right; 
    margin-right:10%;
}

.descriptions img:first-of-type {
    border-style: solid;
    border-color: rgb(255,215,0);
}

.descriptions p {
    margin:0;
    margin-left:10%;
    font-family: 'Montserrat Regular';
    margin-right:10%;
    text-align: justify;
}

.signoff {
    float:right; 
    text-align: right;
    font-family:'Montserrat Regular';
    font-size:12px;
    padding-top:15%;
    margin-right:-15%;
}

.descriptions p:first-of-type {
    margin-top:10%;
}

.descriptions h2 {
    opacity:1;
    transition:3s;
    margin-left:15%;
    margin-top:5%;
    padding-top:7%;
}



.sidenav {
    display:inline-grid;
    grid-template-rows: repeat(4,25vh);
    grid-template-columns: 29.3vw;
}


#first {
    position:relative;
    grid-row:1/2;
}
#second {
    position:relative;
    grid-row:2/3;
}
#third {
    position:relative;
    grid-row:3/4;
}
#fourth {
    position:relative;
    grid-row:4/5;
}

.sidenav-image {
    transition:0.3s;
    height:100%;
    width:100%;
    filter:grayscale(100%);
}

.sidenav-p {
    transition:0.3s;
     position:absolute;
    color:white;
    margin:0;
    margin-top:-25%;
    text-align: center;
    transition:0.5s;
    opacity:0;
    width:100%;
}

.portraits:hover .sidenav-image{
    filter:grayscale(0%) brightness(0.8);
    transition:0.5s;
}

.portraits:hover .sidenav-p {
    opacity:1;
    transition: 0.5s;
}

.active-person .sidenav-image {
    filter:grayscale(0%) brightness(0.8);
    transition:0.5s;
}

.active-person .sidenav-p {
    opacity:1;
    transition: 0.5s;
}

.active-descrp {
    animation: fadeEffect 1s;

    display:block;
    
}