



.pageSelector{
    display:block;
    height:10%;
    text-align: center;
}

.pageSelector li {
    display:inline;
    padding-left: 15px;
    padding-right: 15px;
}

.pageSelector li button {
    height:30px;
    width:30px;
    font-size: 20px;
    color:black;
    background-color: white;
    transition :0.5s;
    border:none;
}

.pageSelector li button.active {
    transition :0.5s;
    color:white;
    background-color:black;
}
.pageSelector li button:hover {
    transition: 0.5s;
    color:white;
    background-color:black;
}
.pageSelector a:hover {
    transition:0.5s;
    color:white;
    background-color: black;
}
.pageSelector ul {
    padding:0;
}



.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.page-container {
    display:none;
    flex-direction: column;
    align-content: center;
    animation: fadeEffect 1s;
    
}


.event-container {
    display:grid;
    align-self: center;
    grid-template-rows: 45px 45px 120px;
    grid-column-gap: 2%;
    grid-template-columns: 300px 600px;
    color: rgb(0,0,0,0.8);
    margin-bottom: 6%;
}

.event-container:hover {
    transition: 1s ;
    color: darkcyan !important;
}

.event-container h3 {
    margin-top: 2%;
    margin-bottom: 0;
    text-align: justify;
}

.event-container p {
    margin-top: 2%;
    margin-bottom: 0;
    text-align: justify;
}

.event-container p:first-of-type {
    font-style: oblique;
    grid-row:2/3;
    grid-column: 2/3;
}
.event-container p:nth-of-type(2) {
    grid-row:3/4;
    grid-column:2/3;
}

.event-container img {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 100%;
    max-height: 100%;
    min-height: 200px;
    margin:0;

}


