h1 {
    text-align: center;
}

.caption {
    font-weight: normal;
    font-variant: small-caps;
    text-align: center;
    font-size: 1.5em;
}

.container {
    width: auto;
    position: relative;
    padding-top: 50px;
    display: block;
    margin-right: 4%;
    min-height: 400px;
}

.container #sidenav a {
    position: absolute;
    left: -40px;
    transition: 0.3s;
    padding: 15px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}
  
#sidenav a:hover {
    left: 0;
}
  
#generalNav {
    top: 20px;
    background-color: limegreen;
}
  
#shippingNav {
    top: 80px;
    background-color: lightskyblue;
}
  
#pricingNav {
    top: 140px;
    background-color: tomato;
}
  
#returnNav {
    top: 200px;
    background-color: gray;
}

#legalNav {
    top: 260px;
    background-color: orange;
}

#eventsNav {
    top: 320px;
    background-color: purple;
}

table {
    margin-left: 15%;
}

.content {
    display: none;
    height: auto;
}

.number {
    font-size: 30px;
    vertical-align: text-top;
    padding-top: 20px;
}

.ques {
    text-transform: uppercase;
    padding: 20px;
}

.ans {
    padding: 20px;
    color: gray;
    text-align: justify;
}