html, body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    font-family: 'Cera Regular',serif;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Cera Regular';
    src: url(../assets/fonts/cera-regular.otf);
}

@font-face {
    font-family: 'Cera Italic';
    src: url('../assets/fonts/cera-italic.otf');
}

@font-face {
    font-family: 'Cera Bold';
    src: url('../assets/fonts/cera-bold.otf');
}

@font-face {
    font-family: 'Cera Bold Italic';
    src: url('../assets/fonts/cera-bold-italic.otf');
}

@font-face {
    font-family: 'Cera Black';
    src: url('../assets/fonts/cera-black.otf');
}

@font-face {
    font-family: 'Cera Black Italic';
    src: url('../assets/fonts/cera-black-italic.otf');
}




/*Top Nav Bar*/

.top-nav-bar {
    height: 120px;
    width: 100%;
    top:0;
    position: sticky;
    background-color: white;
    z-index: 9999;
    opacity: 0.90;
    border-bottom: 1px solid black;
}

.top-nav-bar #container {
    height: 100%;
    width: 100%;
    display: grid;
    position:sticky;
    grid-template-columns: 14% 32% 54%;
}

.header-logo-sec img {
    height: 100px;
    width:200px;
    object-fit:scale-down;
    top:10%;
    position: sticky;
    padding-left:20px;
}

.header-srch-sec input[type=text] {
    width:0;
    font-size: 16px;
    border: 2px solid white;
    box-sizing: border-box;
    float:right;
    margin-top: 8%;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
    outline-width: 0;
    
}

.header-srch-sec input[type=text]:focus {
    width:70%;
    border-bottom: 2px solid black !important;
   
}

.header-srch-sec form {
    display:inline;
}

.header-srch-sec span {
    margin-top: 8%;
    float:right;
}

.header-srch-sec img {
}

.header-ops-sec {
    grid-column: 3/4;
    text-align: center;
    margin-right:20px;
    position: sticky;
}

.top-nav-bar ul {
    padding: 0px;
    margin: 0 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    
}

.header-ops-sec a {
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Cera Bold', serif;
    transition: 0.3s;
}

.top-nav-bar li {
    display: inline;
    padding:0px;
    text-transform: uppercase;
}

.header-ops-sec li a:not(#cart):hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

#cart img:hover {
  filter: drop-shadow(0 0 0.75rem black);
}

.top-nav-bar .dropbtn {
  display: block;
  background-color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
float:left;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 15px 16px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Title */
h4 {
    margin-top:1%;
    text-align:center;
}

/*Footer*/

.footer-sec1 {
    display:block;
    height:28%;
    background-color: white;
    box-shadow: 0 -8px 5px -10px black;  
    width:100%;
}


.footer-grid {
    position:relative;
    padding-top: 2%;
    display:grid;
    margin-left:7.5%;
    margin-right:7.5%;
    grid-template-columns:  repeat(3,1fr) 50%;
    grid-template-rows: auto;   
}

.footer-grid ul {
     list-style: none;
    margin-top: 0;
}

.leftsec h3 {
    text-align: left;
    margin:0;
}

.leftsec a {
    color:black;
    text-decoration: none;
    display:inline-block;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top:0;
}

.leftsec a:hover {
    background-color: black;
    color:white;
    transition:0.3s;
}

.grid-header {
    grid-row:1/2;
    margin-bottom: 10px;
}

.grid-info {
    grid-column: 1/2;
   
}

.grid-help {
    grid-column:2/3;
}

.grid-legal {
    grid-column:3/4
}

.grid-logo {
    display:inline-block;
    text-align: right;
    
}


.grid-logo p {
    margin-bottom: 0;
}

.grid-logo img {
    padding-top: 1%;
}

.footer-sec2 {
   background-color: rgb(0,0,0,0.85);
    color:white;
    width:100%;
    height:3%;
}

.footer-sec2 p {
    font-size: 15px;
    padding-right: 5%;
    text-align: right;
}

