* {box-sizing: border-box}


.slides {display: none}


.slide-img-container {
    position:relative;
    display:block;
    height:88%;
    width:100%;
    margin:auto;
}


.slide-img-container img {
    height:100%;
    width:100%;
    vertical-align: middle;
    object-fit:cover;
    object-position:top;    
}

.slide-img-container img:hover {
    filter: brightness(0.8);
    z-index: -1;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot-container {
    display:block;
    background-color: white;
    text-align: center;
    transform: translateY(-0%);
    position:relative;
    height:60px;
    
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  transform: translateY(130%);
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

 

.new-release {
    width: 100%;
    height:400px;
    display:block;
    position:relative;
    left:0;
    right:0;
    z-index: 3;
   

}

.new-release::before {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content:'';
    background-image: url(../assets/images/release.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.5);
    transform:scale(1);
}

.new-release-grid {
    display:grid;
    position:relative;
    grid-template-columns: 7.5% 50% ;
    grid-template-rows: 80px 300px ;
    
}



.new-release-grid h1  {
    margin-left: 5%;
    float:left;
    color:white;
    font-family: 'Cera Regular',serif;
    font-weight: 200;
    position: relative;
}

.new-release-grid p {
    margin-left:5%;
    text-align: justify;
    color:white;
    float:left;
    font-family: 'Cera Regular',serif;
    position: relative;
    
}

.new-release-grid img {
    float: right;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:10%;
    height:300px;
    width:500px;
    object-fit: scale-down;
}

.picture-grid-container {
    margin-top: 50px;
    overflow:auto;
    white-space: nowrap;
    height:56%;
    width:100%;
    margin-bottom: 20px;
}

.picture-grid {
    position:relative;
    display: inline-block;
    background-color: #000000;
}



.picture-grid-image {
    opacity:1;
    display:inline-block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.picture-grid-image img {
    height:50vh;
    width: 30vw;
    
}

.picture-grid-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.picture-grid:hover .picture-grid-image {
    opacity:0.3;
    
}
.picture-grid:hover .picture-grid-middle {
    opacity: 1;
}


.picture-grid-middle p {
    color:white;
    font-size:32px;
    padding: 16px 32px;
}


