main{
    background-image: linear-gradient(to bottom, rgba(220,220,220,0),rgba(220,220,220,0), rgba(220,220,220,1));
}

.pickpayment{
    display: block;
    text-align: center;
    width: 100%;
    height: 10%;
}

.beside{
    display: inline-block; 
    padding-right: 60%;
    float: right;
}
.details{  
    display: inline-block;
    padding-left: 22%;
    width: 30%; 
    height: 100%;
    float: left;
}
.addDetails{
    display: none;
}

.billadd{
    display: block;
    padding-left: 55%;
    width: 80%;
    height: 100%;
}

input[type = text]{
    height: 35px;
    padding: 10px;
    font-size: 0.8em;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
}

input[type = number]{
    height: 35px;
    padding: 10px;
    font-size: 0.8em;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
}

input[type=submit]{
    background-color: rgb(226, 226, 226); 
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-right: 60%;
    float: right;
    
}

input[type=submit]:hover{
    color: white;
    background-color: black;
    transition: 0.3s
}

input:focus {
    background-color: rgb(239, 251, 255);
}
