h4, h6 {
    text-align: center;
}

h4 {
    margin-bottom: 0px;
}

h6 {
    margin-top: 0px;
}

.pdetails-col {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    text-align: center;
}

div.img-box {
    margin-bottom: 50px;
}

#img-left, #img-center, #img-right {
    border: 2px solid grey;
    width: 150px;
    height: 150px;
}

#img-center {
    margin-left: 15px;
    margin-right: 15px;
}

#psize-title, #pquantity-title {
    font-size: 0.8em;
}

#pquantity-title {
    margin-top: 140px;
}

#psize-title {
    position: relative;
}

.psize-chart {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    padding: 0px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    opacity: 0;
    transition: opacity 1s;
    border-collapse: collapse;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#psize-title:hover .psize-chart {
    visibility: visible;
    opacity: 1;
    display: inline-block;
}

.psize-chart th, .psize-chart td {
    padding: 4px 8px;
}

.psize-chart tr:first-child {
    border-bottom: 1px solid white;
}

#psize-shoes {
    width: 154px;
    margin-left: -73px;
}

#psize-clothes {
    width: 346px;
    margin-left: -246px;
}

#psize-shoes tr:nth-child(odd), #psize-clothes tr:first-child, #psize-clothes tr:nth-child(even) {
    background-color: black;
    color: white;
}

#psize-chart-caption {
    font-size: 0.7em;
    margin-left: 200px;
    margin-bottom: 0px;
}

#pquantity {
    border: none;
}

select {
    margin-left: 50px;
    font-size: 0.8em;
    cursor: pointer;
    outline: none;
}

.psize-container, .pquantity-container {
    width: 200px;
    height: 120px;
    background-color: rgb(226, 226, 226);
}

.psize-container {
    height: 170px;
    margin-left: 200px;
    margin-top: 330px;
}

.pquantity-container {   
    margin-top: 380px;
}

.pprice {
    font-size: 1.5em;
    margin-top: -150px;
}

.psize-selected {
    height: 40px;
    width: 40px;
    border-spacing: 35px;
    background-color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 7px;
    outline: none;
}

.pdetails-desc {
    text-align: justify;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 0.9em;
}

.pfeatures-link:link {
    color: blue;
    text-decoration: none;
}

.pfeatures-link:visited {
    color: purple;
}

.pfeatures-link:hover {
    color: red;
}

#add-to-cart {
    border: none;
    border-radius: 20px;
    height: 35px;
    padding: 10px;
    font-size: 0.8em;
    margin-left: 830px;
    margin-bottom: 50px;
    background-color: rgb(226, 226, 226); 
    outline: none;
}

#add-to-cart:hover {
    color: white;
    background-color: black;
    transition: 0.3s;
}


.active, .psize-selected:hover {
    background-color: black;
    color: white;
}


