h4 {
    text-align: center;
}

.pfeatures {
    position: relative;
    text-align: center;
}

.pfeatures-title {
    font-size: 10em;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pfeatures-img {
    opacity: 0.7;
}

.pfeatures-desc {
    margin: 80px 100px;
    text-align: justify;
    font-size: 1.1em;
    position: relative;
    animation: animation-desc 3s 1;
}

@keyframes animation-desc {
    from { right: 100%; }
    to { right: 0%; }
}

.pfeatures-title {
    animation: animation-title 5s;
}

@keyframes animation-title {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.pfeatures-list ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin-bottom: 50px;
}

.pfeatures-list ul li {
    display: inline;    
}

.pfeatures-list ul li a {
    text-decoration: none;
    color:black;   
    padding: 10px;
    font-weight: bold;
}

.pfeatures-list ul li a:hover {
    color: grey;
}