.search{
    padding-left: 15%;
    
}

.items {
    display: block;
    list-style-type: none;
    margin-left: 30px;
    min-height: 100%;
}

.items img {
    height: 300px;
    width: 300px;
    /* display: inline; */
}

.container {
    display: inline-block;
    border-style: solid;
    width: 300px;
    margin-right: 150px;
}

.details {
    background: black;
    color: white; 
    text-align: center;
    width: 300px;
    margin: 0px;
}

.container2 {
    position: relative;
    display: inline-block;
    border-style: solid;
    margin-left: 400px;
}

.details2 {
    background: black;
    color: white; 
    text-align: center;
    width: 305px;
    margin-left: 0px;
}