.container {
    background-image: url(../assets/images/oenwayroad.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 600px;
    display: block;
}

h1 {
    text-align: center;
    vertical-align: middle;
    /* font-size: 5em;
    letter-spacing: 0.15em; */
}

.caption {
    text-align: center;
    vertical-align: middle;
    padding-top: 150px;
    color: white;
    font-variant: small-caps;
    font-style: italic;
    font-size: 3.5em;
}

.mapContainer {
    background-image: url(../assets/images/worldMap.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 100px;
    position: relative;
}

/* #mapImage {
    width: 80%;
    display: block;
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
} */


a.marker {
    position: absolute;
}

a#marker1 { top: 187px; left: 1192px; }
a#marker2 { top: 178px; left: 302px; }
a#marker3 { top: 150px; left: 672px; }
a#marker4 { top: 530px; left: 445px; }
a#marker5 { top: 126px; left: 655px; }
a#marker6 { top: 371px; left: 1155px; }

.mapInfo {
    display: none;
    border-style: double;
    background: lightgray;
    border-radius: 50px;
    opacity: 0.8;
    width: 500px;
    height: 150px;
    padding-top: 35px;
    transition: background 2s, border-radius 2s;
    /* position: fixed;
    color: tomato;
    float: left; */
    /*background: white;
    background-size: cover;
    color: black;
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s;
    position: -webkit-sticky;
    position: sticky; */
}

div.mapInfo img {
    height: 15px;
    width: 20px;
}

a.marker:hover + div.mapInfo {
    display: block;
    background: lightskyblue;
    border-radius: 2px;
    /*position: fixed; */
}

#seeMore {
    font-size: 15px;
}