main{
    background-image: linear-gradient(to bottom, rgb(230,230,250,0),rgb(230,230,250), rgba(220,220,220,1));
}

a{
    color:navy;
}

.thankyou{
    padding-top: 5%;
    text-align: center;
    height: 60%;
}

.browse{
    text-align: center;
   
}