h4 {
  text-align: center;
}

.work-with-us {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(220,220,220,0),rgba(220,220,220,0), rgba(220,220,220,1));
}

.heading-name-details {
  display: block;
  margin-right: 430px;
}

input, select, button {
  height: 35px;
  padding: 10px;
  font-size: 0.8em;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  outline: none;
  color: black;
}

input:focus {
  background-color: rgb(239, 251, 255);
}

#fname, #lname, #email, #tel {
  width: 250px;
  outline: none;
}

#birthday {
  text-align: center;
  display: inline;
}

#month {
  padding: initial;
  padding-left: 10px;
}

#month option:hover {
  background-color: grey;
}

#gender {
  display: inline;
  margin-left: 29px;
  font-size: 0.9em;
}

#department {
  padding: initial;
  padding-left: 10px;
  padding-right: 220px;
}

#button {
  margin-top: 50px;  
  margin-left: 330px;
  margin-bottom: 18px; 
}

#submit, #reset {
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

#submit:hover, #reset:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
}